// COLORS

// Palette
// http://paletton.com/#uid=72s0u0kqWpPgQwZlHsqtckOzLfP

$white-color: #fff;
$black-color: #000;
$off-white-color: #ecf0f1;
$background-color: #fcf9f9;
$primary-text-color: #34495e;
$light-grey-color: #95a5a6;
$primary-header-color: #2F7B00;
$upload-button-color: #7cbd1e;
$green-base-color: #7cbd1e;
$header-background-color: #5fc812;
$header-text-color: #AFE489;
$warning-color: #ce3821;
$button-label-color: #ecf0f1;
$button-submit-color: #9b0c46;


$default-font-size: 1.6rem;
