.page-layout {
    display: flex;
    flex-direction: column;
}

.container {
    display: flex;
    flex-direction: column;
    width: 90vw;
    height: 100%;
    justify-content: flex-start;
    padding: 2rem;

    margin-top: 4rem;
}